# sqlalchemy설정

In [1]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

#reference: https://docs.sqlalchemy.org/en/14/orm/session_api.html#session-and-sessionmaker
engine = create_engine('sqlite:///example.db', echo=True)
Session = sessionmaker(engine)
Base = declarative_base()

# 테이블 생성

In [2]:
from sqlalchemy import Column, Integer, String

class Demo(Base):
    __tablename__ = 'demos'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    password = Column(String)
    
Base.metadata.create_all(engine)

2021-09-12 10:57:33,026 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-12 10:57:33,028 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("demos")
2021-09-12 10:57:33,029 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-09-12 10:57:33,030 INFO sqlalchemy.engine.Engine COMMIT

# 트랜잭션 테스트

In [3]:
session = Session()

In [4]:
user1 = Demo(name="user1", password="password")
user2 = Demo(name="user2", password="password")
user3 = Demo(name="user3", password="password")

In [5]:
session.add(user1)
session.add(user2)
session.add(user3)

In [6]:
session.query(Demo).all()

2021-09-12 11:00:07,938 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-12 11:00:07,939 INFO sqlalchemy.engine.Engine INSERT INTO demos (name, password) VALUES (?, ?)
2021-09-12 11:00:07,940 INFO sqlalchemy.engine.Engine [generated in 0.00073s] ('user1', 'password')
2021-09-12 11:00:07,942 INFO sqlalchemy.engine.Engine INSERT INTO demos (name, password) VALUES (?, ?)
2021-09-12 11:00:07,943 INFO sqlalchemy.engine.Engine [cached since 0.003349s ago] ('user2', 'password')
2021-09-12 11:00:07,944 INFO sqlalchemy.engine.Engine INSERT INTO demos (name, password) VALUES (?, ?)
2021-09-12 11:00:07,944 INFO sqlalchemy.engine.Engine [cached since 0.004979s ago] ('user3', 'password')
2021-09-12 11:00:07,946 INFO sqlalchemy.engine.Engine SELECT demos.id AS demos_id, demos.name AS demos_name, demos.password AS demos_password
FROM demos
2021-09-12 11:00:07,946 INFO sqlalchemy.engine.Engine [generated in 0.00050s] ()

[<__main__.Demo at 0x1ba2fae2730>,
 <__main__.Demo at 0x1ba2fae26d0>,
 <__main__.Demo at 0x1ba2fae2760>]

In [7]:
result = session.query(Demo).all()

2021-09-12 11:01:40,514 INFO sqlalchemy.engine.Engine SELECT demos.id AS demos_id, demos.name AS demos_name, demos.password AS demos_password
FROM demos
2021-09-12 11:01:40,515 INFO sqlalchemy.engine.Engine [cached since 92.57s ago] ()

In [8]:
type(result)

list

In [9]:
for r in result:
    print(r.name)

user1
user2
user3

In [11]:
session.commit()
session.close()

# commit X

In [12]:
session= Session()
user4 = Demo(name="user4", password="password")

In [13]:
session.add(user4)

In [14]:
result = session.query(Demo).all()

2021-09-12 11:03:34,066 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-12 11:03:34,067 INFO sqlalchemy.engine.Engine INSERT INTO demos (name, password) VALUES (?, ?)
2021-09-12 11:03:34,068 INFO sqlalchemy.engine.Engine [cached since 206.1s ago] ('user4', 'password')
2021-09-12 11:03:34,070 INFO sqlalchemy.engine.Engine SELECT demos.id AS demos_id, demos.name AS demos_name, demos.password AS demos_password
FROM demos
2021-09-12 11:03:34,070 INFO sqlalchemy.engine.Engine [cached since 206.1s ago] ()

In [15]:
for r in result:
    print(r.name)

user1
user2
user3
user4

In [16]:
session.close()

2021-09-12 11:04:02,094 INFO sqlalchemy.engine.Engine ROLLBACK