In [1]:
from sqlalchemy import create_engine

# memory sqlite db
# reference: https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite
db_url = 'sqlite://'
engine = create_engine(db_url, echo=True)

### 테이블 생성

In [2]:
conn = engine.connect()

# referemce: https://www.pythonsheets.com/notes/python-sqlalchemy.html
engine.execute('CREATE TABLE "EX1" ('
               'id INTEGER NOT NULL,'
               'name VARCHAR, '
               'PRIMARY KEY (id));')

2021-08-14 13:54:18,643 INFO sqlalchemy.engine.Engine CREATE TABLE "EX1" (id INTEGER NOT NULL,name VARCHAR, PRIMARY KEY (id));
2021-08-14 13:54:18,645 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-14 13:54:18,646 INFO sqlalchemy.engine.Engine COMMIT

### 데이터 삽입

In [4]:
engine.execute('INSERT INTO "EX1" '
              '(id, name) '
              'VALUES (1, "raw")')

2021-08-14 13:55:53,442 INFO sqlalchemy.engine.Engine INSERT INTO "EX1" (id, name) VALUES (1, "raw")
2021-08-14 13:55:53,442 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-08-14 13:55:53,443 INFO sqlalchemy.engine.Engine COMMIT

### 데이터 조회

In [5]:
select_query = 'select * from EX1;'
result = conn.execute(select_query)
for _r in result:
   print(_r)

2021-08-14 13:56:06,189 INFO sqlalchemy.engine.Engine select * from EX1;
2021-08-14 13:56:06,190 INFO sqlalchemy.engine.Engine [raw sql] ()
(1, 'raw')